<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <!-- Be sure to flush latest logs on exit -->
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <withJansi>true</withJansi>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] [%class{36}.%M] \(%F:%L\) %m%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
    <file>./logs/demo-consumer-hystrix.log</file>
    <append>true</append>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>./logs/demo-consumer-hystrix-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <!-- each file should be at most 500MB, keep 30 days worth of history, but at most 50GB -->
      <maxFileSize>500MB</maxFileSize>
      <maxHistory>30</maxHistory>
      <totalSizeCap>50GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] [%class{36}.%M] \(%F:%L\) %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter>
  </appender>

  <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNC">
    <discardingThreshold>0</discardingThreshold>
    <queueSize>100</queueSize>
    <includeCallerData>true</includeCallerData>
    <appender-ref ref="FILE"/>
  </appender>

  <springProfile name="product">
    <root>
      <level value="INFO"/>
      <appender-ref ref="ASYNC"/>
    </root>
    <logger level="INFO" name="mq"/>
  </springProfile>

  <springProfile name="dev">
    <root>
      <level value="INFO"/>
      <appender-ref ref="ASYNC"/>
      <!--<appender-ref ref="STDOUT"/>-->
    </root>
    <logger level="INFO" name="mq"/>
  </springProfile>

  <logger level="INFO" name="api"/>
  <logger level="DEBUG" name="test"/>

</configuration>

